*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.ptl
.tflite
.onnx
.apk
local.properties

# Java heap dumps
*.hprof

# Android / JVM dumps
java_pid*

# Android build
/build/

# IntelliJ / Android Studio
.idea/
*.iml
